
body {
    background-color: #272727;
}

.comment-card, 
.single-post-card {
    margin-left: 80px !important;
}

.comment-image, 
.post-image, 
.single-post-image {
    margin-bottom: 10px;
    border-radius: 100%;
}

.create-header {
    color: #fff;
}

.form-container {
    width: 400px;
    margin: auto;
}

.post-form {
    width: 800px;
}

.page-title {
    display: block !important;
    text-align: center;
    color: #fff;
    font-size: 2rem;
    margin-top: 10px;
}

.ui.teal.button:focus,
.ui.teal.buttons,
.button:focus {
    background-color: #00b5ad;
}